<h1 class='text-center'>Register</h1>
<div class='row justify-content-center'>
  <div class='col-md-6'>
    <form action='/auth/register' method='post'>
      <input type='hidden' name='_csrf' value={{csrfToken}} />
      <input
        type='text'
        name='name'
        placeholder='Name'
        class='form-control mb-2'
      />
      <input
        type='text'
        name='email'
        placeholder='Email'
        class='form-control mb-2'
      />
      <input
        type='password'
        name='password'
        placeholder='Password'
        class='form-control mb-2'
      />
      <input
        type='password'
        name='confirm'
        placeholder='Confirm the password'
        class='form-control mb-2'
      />
      <div class='d-flex justify-content-center bg-dark mt-3 py-3'>
        <button class='btn btn-outline-secondary w-50 py-2'>
          send
        </button>
      </div>

    </form>
  </div>
</div>